*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.link{
    margin: 0;
    border-radius: $round-1;
    background-color: $first-color;
    transition: $trans-1;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: $space-0 $space-2;
    font-size: $size-9;
}
.link:hover{
    background-color: $first-color-h;
}
button{
    border-radius: $round-1;
    background-color: $first-color;
    margin: $space-0 0;
    display: inline-block;
    transition: $trans-1;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: $space-0 $space-2;
}
button:hover{
    background-color: $first-color-h;
}
input{
    transition: $trans-1;
    margin: $space-0 0;
    border-radius: $round-1;
    outline: none;
    border: 1px solid $first-color;
    padding: $space-light $space-1;
}
input:focus{
    border: 2px solid $first-color;
}
img, svg{
    width: 100%;
    max-width: 100%;
}
h1,h2,h3, h4, h5, h6, p, span, a, button, input{
    font-size: $size-9;
}

a{
    text-decoration: none;
}
